.mobile-nav-btn{
	--time: 0.2s;
	--width: 40px;
	--height: 4px;
	--range: 7px;
	--color: #fff;

	height: calc((var(--height) + var(--range)) * 3);
	
	position: relative;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.nav-icon{
	position: relative;
	width: var(--width);
	height: var(--height);
	background-color: var(--color);
}
.nav-icon::before,
.nav-icon::after{
	left: 0;
	position: absolute;
	content: "";
	width: var(--width);
	height: var(--height);
	background-color: var(--color);	
}
.nav-icon::before{
	bottom: var(--range);
	transition: transform var(--time) ease-in, bottom var(--time) linear var(--time);
}
.nav-icon::after{
	top: var(--range);
	transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}
.mobile-nav-btn{
	z-index: 999;
	display: none;

}
.nav-icon-active{
	background-color: transparent;
}

.nav-icon-active::before {
	transform: rotate(45deg);
	bottom: 0;
	transition: bottom var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon-active::after {
	transform: rotate(-45deg);
	top: 0;
	transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}